{# templates/task/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: New Tasks{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-clipboard2-plus"></i> {{ 'new'|trans({}, 'label') }}</li>
{% endblock %}

{% block body %}
    {{ include('task/_form.html.twig') }}
{% endblock %}
